<div id="accordion">
    {% set state = '' %}
    {% set time = 'Updated ' ~  publisher.updatedAt|ago %}
    {% set newApplications = publisher.newApplications|length %}
    {% set bannedApplications = publisher.bannedApplications|length %}
    {% set question = '<i class="fas fa-exclamation-triangle"></i>' %}
    {% set clock = '<i class="far fa-clock"></i>' %}
    {% set scheduled = '<i class="fas fa-history"></i>' %}
    {% set linkIcon = '<i class="fa fa-external-link-alt"></i>' %}
    {% set icon = '<i class="fas fa-globe"></i>' %}

    {% if publisher.type == constant('App\\Entity\\Publisher::TYPE_PLAY_STORE') %}
        {% set icon = '<i class="fab fa-google-play"></i>' %}
    {% endif %}

    {% if publisher.type == constant('App\\Entity\\Publisher::TYPE_APP_STORE') %}
        {% set icon = '<i class="fab fa-app-store"></i>' %}
    {% endif %}

    {% set title = icon ~ ' ' ~ publisher.name %}

    {% if newApplications %}
        {% set title = title ~ ' <span class="badge badge-pill badge-success">+' ~ newApplications ~ '</span>' %}
    {% endif %}

    {% if bannedApplications %}
        {% set title = title ~ ' <span class="badge badge-pill badge-danger">-' ~ bannedApplications ~ '</span>' %}
    {% endif %}

    {% if publisher.deletedAt is not null %}
        {% set state = 'alert-danger' %}
        {% set time = 'Deleted ' ~  publisher.deletedAt|ago %}
        {% set time = publisher.name is null ? 'Publisher not found' : 'Deleted ' ~  publisher.deletedAt|ago %}
        {% set title = publisher.name is null ? '#' ~ publisher.id ~ ' ' ~ publisher.url : title %}
    {% elseif publisher.name is null %}
        {% set state = 'alert-warning text-muted' %}
        {% set time = 'Waiting for synchronization' %}
        {% set title = '#' ~ publisher.id ~ ' ' ~ publisher.externalId %}
    {% elseif (publisher.createdAt|date('Y-m-d') == "now"|date('Y-m-d')) %}
        {% set state = 'alert-success' %}
    {% endif %}

    {% set description = '<b>ID</b>: ' ~ publisher.id %}

    {% if publisher.number %}
        {% set description = description ~ '<br/><b>Dedicated number</b>: ' ~ publisher.number %}
    {% endif %}

    <div id="card-id-{{ publisher.id }}" class="card">
        <a
                class="btn flex-column align-items-start"
                data-toggle="collapse"
                data-target="#collapse{{ publisher.id }}"
                aria-expanded="true"
                aria-controls="collapse{{ publisher.id }}"
        >
            <div class="card-header d-flex w-100 justify-content-between {{ state }}" id="heading{{ publisher.id }}">
                <div>
                    {% if publisher.number %}
                    <p class="h5 mb-1" style="display: inline-block;">
                        <span class="badge badge-info modal-edit" data-remote="{{ url('publisher_edit', {id: publisher.id}) }}">
                            {{ publisher.number }}
                        </span>
                    </p>
                    {% endif %}
                    <p class="h5 mb-0" onclick="window.open('{{ publisher.url }}', '_blank');" style="display: inline-block;">
                        {{ title | raw }}
                    </p>
                    <span class="text-secondary">({{ publisher.applications|length }})</span>
                    {% if publisher.address %}
                    <p class="h5 mb-1" style="display: inline-block;">
                        <span class="badge badge-primary modal-edit"  data-remote="{{ url('publisher_edit', {id: publisher.id}) }}">
                            {{ publisher.address }}
                        </span>
                    </p>
                    {% endif %}
                    <p class="h5 mb-1" style="display: inline-block;">
                        <i
                                class="fas fa-info modal-edit"
                                data-toggle="tooltip"
                                data-placement="top"
                                data-html="true"
                                title="{{ description|e('html') }}"
                                data-remote="{{ url('publisher_edit', {id: publisher.id}) }}"
                                style="margin-left: 5px"
                        ></i>
                    </p>
                </div>
                <span>
                    {{ time }}
                    {% if publisher.reason %}
                    <i
                            class="far fa-question-circle"
                            tabindex="0"
                            data-toggle="popover"
                            data-trigger="focus"
                            title="Reason"
                            data-content="{{ publisher.reason }}"
                    ></i>
                    {% endif %}
                </span>
            </div>
        </a>
        {% if publisher.applications|length %}
            {% include('publisher/_application.table.html.twig') %}
        {% endif %}
    </div>
</div>