{% extends 'base.html.twig' %}

{% block title %}Positions: {{ application.name }}{% endblock %}

{% block body %}
    <section class="container-positions">
        <h1 class="h1">
            {{ application.name }}
            <span class="badge badge-success">{{ application.category.name|upper }}</span>
        </h1>
        <h2 class="h2"></h2>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <h4>
                        {% if application.iPhone %}
                            <i class="fas fa-mobile-alt text-info"> iPhone </i>
                        {% endif %}
                        {% if application.iPad %}
                            <i class="fas fa-tablet-alt text-info"> iPad </i>
                        {% endif %}
                    </h4>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <input type="date" id="reportDate" class="js-datepicker form-control"  value="{{ reportDate }}">
                </div>
            </div>

        </div>

        <ul class="nav nav-tabs">
            {% for ratingType, ratingName in ratingTypes %}
                <li class="nav-item">
                    <a class="nav-link {{ ratingType == currType ? 'active' : '' }} " href="/store/rating/{{ ratingType }}/{{ reportDate }}/{{ application.id }}">{{ ratingName }}</a>
                </li>
            {% endfor %}
        </ul>

        <table id="positions-dashboard" class="display w-100 compact table table-sm table-hover">
            <thead class="thead-light inline">
                <tr class="align-middle text-center">
                    <th>Country</th>
                    <th>Current position</th>
                    <th>Difference</th>
                    <th>Total positions</th>
                    <th>Last check</th>
                </tr>
            </thead>
            <tbody>
            {% for position in positions %}
                <tr class="align-middle">
                    <td class="flag align-middle text-left size">
                        <div class="country-tooltip m-0 p-0"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="{{ get_country_name(position.country) }}"
                        >
                            {{ get_country_name(position.country) }} / {{ get_country_flag(position.country) }}
                        </div>
                    </td>
                    <td class="align-middle text-center">
                        {{ position.currIndex }}
                    </td>
                    <td class="align-middle text-center">
                        {{ position.prevIndex }}
                        {% if position.prevIndex == '0' %}
                            <i class="fas fa-equals"></i>
                        {% endif %}
                        {% if position.prevIndex > 0 %}
                            <i class="fas fa-caret-down text-success"></i>
                        {% endif %}
                        {% if position.prevIndex < 0 %}
                            <i class="fas fa-caret-down text-danger"></i>
                        {% endif %}
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-index-total">{{ position.totalQuantity }}</span>
                    </td>
                    <td class="align-middle text-center">{{ position.createdAt|date('H:i:s') }}<br><span class="date-ago">{{ position.createdAt|ago }}</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <script>
        $('.js-datepicker').on('change', function () {
            let url = "/store/rating/{{ currType }}/" + this.value + "/{{ application.id }}"
            window.open(url,"_self")
        });
    </script>
{% endblock %}
