<table align="left" bgcolor="#ffffff" border="1" cellpadding="10" cellspacing="10" data-mobile="true" width="600"
       style="font-family:Arial,sans-serif;" style="padding:5px; margin:5px;" xmlns="http://www.w3.org/1999/html">
    <tr>
        <td valign="top"  align="center" style="font-family:Arial,sans-serif;font-size:30px;font-weight:bold;padding:10px;margin:0;">
            <p style="color:#dd0404">APP STORE Application(s) delete </p>
        </td>
    </tr>

    <tr bgcolor="#f0ef98">
        <td valign="top" align="left">
            <table align="left" width="100%">
                <tr >
                    <td  style="padding:5px; margin:5px;" width="80%">
                        <b>Publisher name</b>: {{ publisher.name }} (#{{ publisher.id }})
                    </td>
                    <td valign="center" bgcolor="#ff9f07" width="20%" align="center" style="padding-top:10px;padding-bottom:10px;padding-left:0;padding-right:0;margin:0;">
                        <a target="_blank" href="{{ publisher.url }}" style="font-family:Arial,sans-serif;color:#ffffff;font-size:20px;font-weight:bold;text-decoration:none;">
                            LINK
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    {% for application in applications %}
    <tr bgcolor="#f0ef98" >
        <td valign="top" align="center">
            <table width="100%">
                <tr align="left">
                    <td align="center">
                        <img src="{{ email.image('@mailIcons/' ~ application.icon) }}" border="0" style="display:block;" width="56" height="56">
                    </td>
                    <td>
                        <table width="100%">
                            <tr>
                                <td align="left" style="padding:5px; margin:5px;">
                                    <b>Application name</b>: {{ application.name }} (#{{ application.id }})
                                </td>
                            </tr>
                            <tr >
                                <td  align="left" style="padding:5px; margin:5px;" bgcolor="#f7bcbc" >
                                    <b>Reason</b>: {{ application.reason }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td style="padding:5px; margin:5px;">
                        <b>Application URL</b>: <a target="_blank" href="{{ application.url }}">{{ application.url }}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    {% endfor %}
</table>