<table align="left" bgcolor="#ffffff" border="1" cellpadding="10" cellspacing="10" data-mobile="true" width="600"
       style="font-family:Arial,sans-serif;" style="padding:5px; margin:5px;" xmlns="http://www.w3.org/1999/html">
    <tr>
        <td valign="top"  align="center" style="font-family:Arial,sans-serif;font-size:30px;font-weight:bold;padding:10px;margin:0;">
            <p style="color:#dd0404">Publisher error {{ "now"|date("d/m/Y") }}</p>
        </td>
    </tr>
    <tr bgcolor="#f0ef98">
        <td valign="top" align="left">
            <table align="left" width="100%">
                <tr >
                    <td  style="padding:5px; margin:5px;">
                        <b>Publisher name</b>: {{ publisher.name }} (#{{ publisher.id }})
                    </td>
                </tr>
                <tr>
                    <td  style="padding:5px; margin:5px;">
                        <b>Publisher URL</b>: <a href="{{ publisher.url }}">{{ publisher.url }}</a>
                    </td>
                </tr>
                <tr >
                    <td  align="left" style="padding:5px; margin:5px;" bgcolor="#f7bcbc" >
                        <b>Reason</b>: {{ reason }}
                    </td>
                    <td  align="left" style="padding:5px; margin:5px;" bgcolor="#f7bcbc" >
                        <b>Trace</b>: {{ trace }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>